Flask==3.1.1
gunicorn==23.0.0
deepface==0.0.93
tensorflow-macos==2.12.0
tensorflow-metal==1.0.0
opencv-python==4.11.0.86
SpeechRecognition==3.14.3
nltk==3.9.1
PyAudio==0.2.14
pandas==2.3.0
requests==2.32.4
Werkzeug==3.1.2
